* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
ul, li {
    list-style: none;
}
nav ul a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}
a {
    text-decoration: none;
}
.container {
    max-width: 90%;
    margin: 0 auto;
}


nav ul, .account, nav {
    display: flex;
}
nav {
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 90px;
    /* box-shadow: 0px 5px 23px 2px #EDEEF2; */
}
nav ul, nav li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
nav ul {
    width: 80%;
}
nav ul a {
    min-width: 90px;
    padding: 18px 50px 16px 50px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}
nav ul a:hover {
    color: white;
    background-color: #172B72;
}
nav li img {
    padding-right: 15px;
}
.account {
    min-width: 90px;
    align-items: center;

}
.account p {
    color: #828282; 
}
.account img {
    padding-left: 5px;
}
.account img:nth-child(1) {
    padding-right: 15px;
}

.main_page {
    background-color: #F6F7FB;
}
.top_info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;

}
.top_info_left, .top_info_left ul {
    display: flex;
    flex-wrap: wrap;

    text-transform: uppercase;
}
.top_info_left {
}
.top_info_left h1 {
    font-size: 25px;
}
.top_info_left li {
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-left: 40px;  
}
.top_info_left h2 {
    font-size: 22px;
    font-weight: normal;
    color: #ACADB0;
}
.top_info_left p {
    font-size: 18px;
    color: #ACADB0;
}
.top_info_right {
    min-height: 20px;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 50px;
    color: #F1F3F7;
    font-weight: bold;
    background-color: #172B72;
    cursor: pointer;
}
.top_info_left img, .top_info_left p {
    margin-right: 5px;
}

.cards_block {
    display: flex;
    flex-wrap: wrap;
}
.balance_main_card {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 14px;
    box-shadow: 0px 10px 20px -8px #898989;
}
.balance_card {
    /* background-color: #fff; */
    border-radius: 10px;
    width: 360px;
}
.balance_card .balance_main_card {
    min-height: 110px;
    padding: 15px 20px 18px 24px;
}
.balance_card_top_info {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 12px;

}
.balance_card_mid_info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.balance_card_mid_info span {
    font-size: 16px;
}
.balance_card_bottom_info p {
    font-size: 14px;
    font-weight: bold;  
    color: #4F4F4F;
}
.balance_mini_card {
    display: flex;
    justify-content: space-between;
}
.card .container:not(.container > .mini_card){
    display: flex;
    justify-content: space-between;
}
.card {
    margin-right: 40px;
    
}
.card .container {
    width: 320px;
}
.balance_card .container {
    width: 360px;
}
.main_card {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 14px;
    width: 320px;
    box-shadow: 0px 10px 20px -8px #898989;
}
.card_left_info {
    min-height: 110px;
    padding: 15px 20px 18px 24px;
}
.card_left_info h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}
.card_left_mid_info {
    display: flex;
    align-items: center;
}
.card_left_info span {
    color: #828282;
    font-style: normal;
    font-weight: normal;
}
.card_left_mid_info img {
    margin-right: 10px;
}
.card_left_mid_info span {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.card_left_mid_info {
    margin-bottom: 10px;
}
.card_left_info p {
    font-size: 14px;
    font-weight: bold;  
    color: #4F4F4F;
}
.card_right_info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px 20px 18px 24px;
}
.card_right_info img {
    margin-top: 15px;
}

.mini_card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    width: 320px;
    min-height: 20px;
    padding: 10px 0;
    margin-bottom: 35px;
    box-shadow: 0px 10px 20px -8px #898989;
}
.mini_card p {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #4F4F4F;
}
.mini_card p span {
    color: #828282;
    font-style: normal;
    font-weight: normal;
}
.info {
    display: flex;
}
.info p {
    font-weight: bold;
    font-size: 14px;
    color: #828282;
}
.info_block {
    margin-right: 35px;
}
.info_block div {
    display: flex;
    align-items: center;
}
.info_block div img {
    margin-right: 5px;
}
.info_block div span {
    font-weight: bold;
    font-size: 14px;
    color: #828282;
}
.balance_and_income_section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    
}
.balance_block {
    width: 70%;
    min-width: 872px;
    margin-bottom: 30px;
    
}
.income_block {
    width: 25%;
    margin-bottom: 30px;
}

.balance_and_income_section p {
    font-weight: bold;
    font-size: 14px;
    color: #828282;
}
.balance_block_content {
    border-radius: 10px;
    min-width: 872px;
    background-color: #fff;
    min-height: 300px;
}
.balance_block_content button{
    margin: 0;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
    min-height: 15px;
    padding: 8px 16px;
    color: #BDBDBD;
    cursor: pointer;
    border: none;
    border: 2px solid #BDBDBD;
   
}
.balance_block_content button:focus-within {
    color: #162A71;
    border-color: #162A71;
}
.buttons_block {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
}
.buttons_left, .buttons_right {
    display: flex;
}
.left_btn {
    /* border-right: none; */
    /* border-radius: 10px; */
}
.balance_legend {
    display: flex;
    justify-content: center;
    padding-bottom: 20px ;
}
.balance_legend div {
    display: flex;
    align-items: center;
}
.balance_legend div img {
    margin-left: 10px;
    margin-right: 5px;
}
.balance_legend h3 {
    font-size: 12px;
}
.income_block_header {
    display: flex;
    justify-content: space-between;
}

.income_block_content {
    background-color: #fff;
    min-height: 300px;
    border-radius: 10px;
}
.income_block_content .container {
    padding-top: 25px;
}
.info_data {
    margin-bottom: 18px;
}
.info_data:nth-last-child(1) {
    padding-bottom: 10px;
}
.info_data div {
    display: flex;
    align-items: center;
}
.info_data div img {
    margin-right: 8px;
}
.info_data h2 {
    font-size: 18px;
}
.stats_and_contracts_section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.stats_and_contracts_section p {
    font-weight: bold;
    font-size: 14px;
    color: #828282;
}
.stats {
    width: 70%;
}
.contracts {
    width: 25%;
}
.stats p, .contracts:nth-child(1) p {
    margin-bottom: 14px;
}
.stats ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
ul li button {
    font-weight: normal;
    font-size: 17px;
    min-height: 10px;
    color: #828282;
    padding: 10px 20px;
    background-color: #F6F7FB;;
    border: 1px solid #828282;
    border-radius: 5px;
    cursor: pointer;
}
ul li button:focus-within {
    color: #162A71;
    background-color: #fff;
    border: 1 px solid #fff;
}
.stats ul li{
    margin-right: 30px;
    margin-bottom: 10px;
}
.stats ul li:nth-last-child(1) {
    margin-right: 0px;
}
.stats_content {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    padding: 25px;
}

table {
    font-family: "Roboto", Sans-Serif;
    /* font-size: 14px; */
    background: white;
    /* max-width: 70%; */
    /* width: 70%; */
    border-collapse: collapse;
    empty-cells: hide;
    text-align: left;
}
th {
    font-weight: normal;
    /* color: #039; */
    padding: 10px 8px;
}
td {
    border-bottom: 1px solid #828282;
    color: #40699e;
    padding: 9px 8px;
    transition: .3s linear;
}
tr:nth-last-child(1) td{
    border-bottom: none;
}
tr:hover td, tr:hover td h5 {color: #6699ff;}

tr th {
    font-size: 12px;
    font-weight: normal;
    color: #B2B2B2;
    cursor: pointer;
}
table h5 {
    font-weight: bold;
    font-size: 16px;
    color: #828282;
    transition: .3s linear;
}
.fckin_tables_summ {
    font-size: 18px;
    font-weight: bold;

    color: #4f4f4f;
}
tr td:nth-child(2), tr td:nth-child(3) {
    color: #4f4f4f;
    font-size: 15px;
    font-weight: bold;
    
}
.active_span {
    color: #3da369;
    font-size: 13px;
    margin-left: 7px;
}
.ending_span {
    color: #f2994a;
    font-size: 13px;
    margin-left: 7px;
}
.table_first_column h4 {
    font-size: 15px;
}
tr th:nth-child(2), tr td:nth-child(2) {
    padding-left: 35px;
}
tr th:nth-child(3), tr td:nth-child(3) {
    padding-left: 35px;
}
tr th:nth-child(4), tr td:nth-child(4) {
    padding-left: 35px;
}
.fckin_tables_summ div {
    display: flex;
    align-items: center;
}

.contract_card {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
}
.contract_card_container {
    max-width: 90%;
    margin: 0 auto;
    padding: 7px;
}
.contract_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}
.contract_bot {
    display: flex;
    justify-content: space-between;
}
